<div class="grid_2 prefix_14" ><%= link_to "New Collection", new_collection_path %></div>
<h2>Collections</h2>
<% if @collections %>
	<%= render :partial => 'collection' %>
<% else %>
	You have no collections!
<% end %>
