.bundle
db/*.sqlite3
db/schema.rb
log/*.log
log/notes/*
tmp/**/*
.DS_Store
capybara-*
tmp/**/*
tmp/*
doc/*
doc/app
doc/plugins
.DS_Store
._*
database.yml
development.sqlite3
test.sqlite3
production.sqlite3
coverage/*
features_rcov/*
*.sqlite3
solr/data
.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/**/*
public/archive
public/archive/*
deploy.rb
application.yml
*~
public/stylesheets/scaffold.css
.eprj
public/videos
public/stylesheets/compiled
.autotest
private
