<form action="/intervals" method="GET">
	<label>
		Search:
		<input type="text" id="global_search" name="search" Placeholder="Enter Query" />
	</label>
	<input type="submit" id="global_search_submit" />
</form>
