<form action="/intervals" method="GET">
<input type=search results=3 placeholder=Search... name="search" value="<%= params[:s] %>">
<noscript><input type="submit" id="global_search_submit" /></noscript>
</form>

