<div class="search_box">
<%= form_tag add_params(:contoller => params[:controller]), {:method => :get } %>
<input type="search" results=3 placeholder="Search..." name="search" value="<%= params[:search] %>">
<input type="submit" id="global_search_submit" value="Submit" />
</form>
</div>