<div class="search_box">
<%= simple_form_for @search, :as => :search, :html => {:method => :get} do |f| %>

<%= f.input :camera_angle_contains, :as => :search, :label => false, :input_html => { :id => 'search_box' } %>
<%= f.submit :value => 'Search' %>
<% end %>
</div>
