.grid_6.snippet_list
  - @interval.snippets.each do |snippet|
    .grid_6.alpha.snippet
      = link_to interval_path(@interval, :snippet_id => snippet.id), :class => "snippet" do
        %p= snippet.title
        .max-duration
          .duration 1m12s34cs
          .snippet-duration
            .snippet-duration2{:style => "margin-left: %dpx; width: %dpx;" % [(snippet.offset/@interval.duration*150).ceil, (snippet.duration/@interval.duration*150).ceil]}
      .clear
      .grid_5.snippet_description
        %span= snippet.description
      .clear
      %a.snippet_see_more see more
      %a.edit_button edit

