- @interval.snippets.each do |snippet|
  = link_to interval_path(@interval, :snippet_id => snippet.id), :class => "snippet" do
    %p= snippet.title
    %p= snippet.id
    .outer-duration
      .max-duration
        .start-timestamp
          =# snippet.offset_s
        .snippet-duration
        .end-timestamp
          =# snippet.end_time_s
