			<% @interval.snippets.each do |snippet| %>
			<div class="interval_time_background">
				<div class="interval_time">
				    <%= link_to interval_snippet_path(@interval, snippet) do %>
    					<%= snippet.offset.round(2) %>-<%= (snippet.offset + snippet.duration).round(2) %>
    			    <% end %>
				</div>
			</div>
			<% end %>
