	        <% @interval.snippets.each do |snippet| %>
		  <% if snippet.id %>
			  <%= link_to interval_snippet_path(@interval, snippet) do %>
    			    <div class="snippet">
                            <%= snippet.title %>
    			    </div>
                          <% end %>
                  <% end %>
                <% end %>
