%div.video-js-box.vim-css
  %video#cove-video-player.video-js{ :width => 640, :height => 360, :data_offset => (@snippet.offset if @snippet), :data_duration => (@snippet.duration if @snippet), :controls => true}
    %source{ :src => "/videos/%s.m4v" % @interval.filename, :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"' }
