%h3.grid_5#title
  Place Holder Title 
%div.grid_16.meta_info_container
  This is going to be the meta data

%div.grid_16#video_container
  = video_tag interval_path(@interval.id, :format => :m4v), :controls => true, :height => 400, :width => 950

%div.grid_16#tag_container
  %ul
    -if !@applied_tags.blank?
      -for tagging in @applied_tags
        %li.tag.applied
          =tagging.tag.name
    -else
      An Error with tagging occured

.grid_16#phenomenon_container
  %h4
    Phenomenon
  %ul
    -if !@applied_phenomenon.blank?
      -for item in @applied_phenomenon
        %li.phenomenon.applied
          =item.code.name
    -if !@unapplied_phenomenon.blank?
      -for item in @unapplied_phenomenon
        %li.phenomenon.unapplied
          =item.code.name
        
       
      
    
.grid_16#people_container
  %h4
    People
    
