* {
	padding: 0;
	margin: 0;
}

#intervals h1, #intervals h2 {
	background-color: gray;
	color: white;
}

#intervals h2 {
	margin-bottom: 5px;
}

#intervals h1 {
	padding: 1em;
	border-bottom: thin black solid;
	margin-bottom: 5px;
}

#intervals li {
	margin-left: 0;
	list-style: none;
}

#intervals #filters {
	width: 300px;
	padding: 1em;
	background-color: gray;
	float:left;
	color: white;
}

#intervals fieldset {
	border: thin white dotted;
	padding: 5px 5px 10px 10px;
}

#intervals fieldset legend {
	font-weight: bold;
}

#intervals label{
	display: block;
	padding: 5px;
}

#intervals label input {
	margin-right: 4px;
}

#intervals #results td, #intervals #results th, #intervals #filters {
	border: thin solid black;
	padding: 5px;
}

#intervals #results th {
	background-color: gray;
	color: white;
	white-space: nowrap;
}

#intervals #filters, #intervals #results {
	margin-left: 5px;
	margin-right: 5px;
}

#intervals .filtercontrol.highlighted, #intervals .filtercontrol:hover {
	outline: 2px dotted yellow;
}

#intervals #results tr.highlighted td, #intervals #results tr:hover td {
	background-color: yellow;
}

#intervals a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
#intervals a:hover {
	background-color: inherit;
	color: red;
}

#intervals #filters ul {
	margin-bottom: 0;
}
