* {
	padding: 0;
	margin: 0;
}

#intervals h1 {
	padding: 1em;
	background-color: gray;
	border-bottom: thin black solid;
	color: black;
}

#intervals li {
	list-style: none;
}

#intervals fieldset {
	border: thin white solid;
	padding: 5px;
}

#intervals fieldset legend {
	font-weight: bold;
}

#intervals #filters {
	width: 30%;
	padding: 1em;
	background-color: gray;
	color: #FFFFF2;
	float:left;
}

#intervals label{
	display: block;
}
#intervals label + label {
	margin-top: .25em;
}

#intervals #listints td, #intervals #listints th, #intervals #filters {
	border: thin solid black;
	padding: 5px;
}

#intervals #listints th {
	background-color: gray;
	color: white;
	white-space: nowrap;
}

#intervals #listints {
	width: 60%;
}

#intervals #filters, #intervals #results {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

#intervals #listints {
	position: relative;
	top: -2px;
}

#intervals .filtercontrol.highlighted {
	outline: 2px solid yellow;
}
