.cove_thumbnail div.thumbnail_wrapper {
    margin: 10px;
}
.cove_thumbnail div.thumbnail_wrapper div.thumbnail_screenshot {
  float: left;
  width: 148px;
  height: 151px;
  border: solid 1px; 
}

.cove_thumbnail div.thumbnail_wrapper div.thumbnail_details {
    float: left;
    width: 248px;
    height: 100px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.cove_thumbnail div.thumbnail_wrapper div.thumbnail_tags {
    float: left;
    width: 248px;
    height: 50px;
    border-bottom: solid 1px;
    border-right: solid 1px;
}

.results ol {
    list-style: none;
}

.clear {
    clear: both;
}