<div class="nda_container" style="overflow:scroll; width:250px; height:300px;">
  Insert the NDA Text HERE
  
  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="form_container">
  <%= form_tag(:action => "create", :method => "post",:class => "nda_agree_form") do %>
    <p> Some Type of Accept text </p>
    <%= check_box_tag "accept" %>
    <div>
      <%= submit_tag "Continue" %>    
    </div>
  <% end -%>
</div>
<div class="cancel_button_container">
  <!-- <button id="cancel_button"> Cancel </button> -->
  <a href="/logout"> Cancel </a>
</div>

<!-- <script type="text/javascript">
  jQuery(document).ready(function() {
    $("#cancel_button").click(function(){
      window.location = "/logout"
    });
  });
  
</script> -->