<% if !current_user %>
<h1 class= "placeholder grid_16">EPIC PLACEHOLDER</h1>

<% else %>
<section class="grid_16">
	<h2>Projects</h2>
		<%= link_to "Make a New Project", new_project_path %>
	<dl>
	<% Project.all.each do | project | %>
	   <% if project.user_id == current_user.id %>
	      <dt style="margin-top:20px;"><%= link_to project.name, project %></dd>
	      <dd><%= project.desc %></dd>
	   <% end %>
	<% end %>
	</dl>
<% end%>
</section>


