<br class="clear"/>
<hr class="grid_16"/>

<style>
.clear{clear:both;}
.user_info{float:right;}
.cove_header{float:left;}
.checkerboard {	
}
.checkerboard div{
float:left;
font-size: 600%;
width:200px;
length:200px;
text-align:center;
background-color: gray;
border:2px solid #ffffff;

}
</style>
<div class="checkerboard">
<%(0..15).each do |number| %>
<div><img src="/images/dance_3.jpg" width="200" height="150" /></div>
<%end%>
</div>