
<h1>COVE</h1>

<style>
.checkerboard{
float:left;
font-size: 600%;
width:200px;
length:200px;
text-align:center;
background-color: gray;
border:2px solid #ffffff;

}
</style>
<div class="checkerboard"><img src="images/thumb1.jpg" width=200 height=150></div>
<div class="checkerboard"><img src="images/thumb2.jpg" width=200 height=150></div>
<div class="checkerboard"><img src="images/thumb3.jpg" width=200 height=150></div>
<div class="checkerboard"><img src="images/thumb4.jpg" width=200 height=150></div>
<div class="checkerboard">5</div>
<div class="checkerboard">6</div>
<div class="checkerboard">7</div>
<div class="checkerboard">8</div>
<div class="checkerboard">9</div>
<div class="checkerboard">10</div>
<div class="checkerboard">11</div>
<div class="checkerboard">12</div>
<div class="checkerboard">13</div>
<div class="checkerboard">14</div>
<div class="checkerboard">15</div>
<div class="checkerboard">16</div>

