<div class ="definition_holder grid_3">
	<h1 class="term">PLACEHOLDER</h1>
	<p class="def_body">This is the definition for placeholder. A placeholder is something that is temporarily put in place of real content when that real content isn't available yet. This is the definition for placeholder. A placeholder is something that is temporarily put in place of real content when that real content isn't available yet.</p>
	
</div>