<div class="container_16">
	<div class="grid_15 project_form_header">
	   <h1>
	      Editting a project
	   </h1>
	</div>
    <% if @project %>
       <% if user_signed_in? %>
          <% if @project.user_id == current_user.id %>
                <%= render :partial => 'form' %>
          <% else %>
             <div class="grid_15">
                <p>You do not have permission to edit this project</p>
             </div>
          <% end %>
       <% else %>
          <div class="grid_15">
             <p>Please sign in to access projects.</p> 
          </div>
       <% end %>
    <% end %>

</div>
