<br class="clear"/>
<hr />


<% if @project %>
<h2>Listing projects:</h2>
<%= link_to 'New Project', new_project_path %> 

<dl>
<% @project.each do | project | %>
   <% if project.user_id == current_user.id %>
      <dt style="margin-top:20px;"><%= link_to project.name, project %></dd>
      <dd><%= project.desc %></dd>
   <% end %>
<% end %>
</dl>

<% else %>

<p>Please log in to see your projects.</p>

<% end %>
