<br class="clear" />
<hr />

<h1>Create a new project</h1>

<%= form_tag do  %>
     <dl class="project-inputs">
         <dt>
            <label for="project_name">Project name:</label>
         </dt>
         <dd>
            <input id="project_name" name="project_name" type="text" />
         </dd>
         <dt>
            <label for="elevator_pitch">Elevator pitch:</label>
         </dt>
         <dd>
            <input id="elevator-pitch" name="elevator-pitch" type="text" />
         </dd>
         <dt>
            <label for="tags">Tags:</label>
         </dt>
         <dd>
            <input id="tags" name="tags" type="text" />
         </dd>
         <dt>
            <label for="notepad">Notepad:</label>
         </dt>
         <dd>
            <input id="notepad" name="notepad" type="text" />
         </dd>
         <dt>
            <%= submit_tag("Search") %>
         </dt>
     </dl>
<% end %>

