# Cove Capistrano Deploy
require 'erb'

# This is an example deploy.rb
# Please change domain, deploy_to path, user, db_user, db_password, secrets, and tokens if needed

set :application, "cove"
set :domain,      "domain.example.com"
set :repository,  "git://github.com/icl/cove.git"
set :use_sudo, false
set :deploy_to,   "/path/to/#{application}"
set :video_path, "path/to/videos" # Relative path within #{deploy_to}/shared/
set :user, "deploy_user"
set :scm, :git
set :branch, "release"
set :deploy_via, :remote_cache
set :db_user, "db_user"
set :db_password, "secret"
set :cookie_secret, "secret"
set :hoptoad_token, "secret"
set :ga_token, "secret"
set :newrelic_license_key, "secret"

role :app, domain
role :web, domain
role :db,  domain, :primary => true

before "deploy:setup", :db, :app, :newrelic
after "deploy:update_code", "db:symlink", "app:symlink", "newrelic:symlink", :bundle
#after "deploy:rollback", :bundle

namespace :deploy do
  task :start, :roles => :app do
    run "touch #{File.join(current_release,'tmp','restart.txt')}"
  end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_release,'tmp','restart.txt')}"
    #run "#{try_sudo} rm -r #{File.join(current_release, 'tmp', 'cache', '*')}"
  end
end

namespace :bundle do
  desc "Adds mysql2 to Gemfile and install all gems via bundle"
  task :default do
    new_lines = []
    master = capture "cat #{File.join(current_release, 'Gemfile')}"
    master.each do |line|
      if line =~ /mysql2/
        new_lines += ["gem 'mysql2' # Production only gem. DO NOT COMMIT\n"]
      else
        new_lines += [line] #[line.gsub(/\n/,'')]
      end
    end
    if !master.to_s.match(/mysql/)
      new_lines += ["\ngem 'mysql2' # Production only gem. DO NOT COMMIT\n"]
    end
    gemfile = File.join(current_release, 'Gemfile')
    gemfile_config = ERB.new <<-EOF
        #{new_lines.each {|line| line}}
    EOF
    put gemfile_config.result, "#{gemfile}"
    run "cd #{current_release} && #{try_sudo} bundle install"
  end
      
  desc "Runs `bundle install` on current release"
  task :install do
    run "cd #{current_release} && #{try_sudo} bundle install"
  end
end

namespace :app do
  desc "Creates application yaml in shared path"
  task :default do
    app_config = ERB.new <<-EOF
    development:
        cookie_secret: 8ac8f9f675f9fb12a4cde70574726907a0e88405d733c3409e4eed4674c1f4e23626819465b3a70e9514d304125948fa90e5f59cf45e9a9b739ffafcdc4c529b
        hoptoad_token: de8d365bdf50e6628c543fa50179cc41
        ga_token:

    test:
        cookie_secret: 8ac8f9f675f9fb12a4cde70574726907a0e88405d733c3409e4eed4674c1f4e23626819465b3a70e9514d304125948fa90e5f59cf45e9a9b739ffafcdc4c529b
        hoptoad_token: de8d365bdf50e6628c543fa50179cc41
        ga_token:

    production:
        cookie_secret: #{cookie_secret}
        hoptoad_token: #{hoptoad_token}
        ga_token: #{ga_token}
    EOF
    
    run "mkdir -p #{shared_path}/config"
    put app_config.result, "#{shared_path}/config/application.yml"
  end
  
  desc "Makes symlink for application yaml" 
  task :symlink do
    run "ln -nfs #{shared_path}/config/application.yml #{release_path}/config/application.yml"
  end
  
  desc "Sets up Video symlink"
  task :video_setup do
    run "if [ ! -d #{shared_path}/#{video_path} ];then; mkdir -p #{shared_path}/#{video_path}; fi"
    run "#{try_sudo} rm -rf #{release_path}/public/videos"
    run "ln -nfs #{shared_path}/#{video_path} #{release_path}/public/videos"
  end
end

namespace :db do
  desc "Creates database yaml in shared path" 
  task :default do
    db_config = ERB.new <<-EOF
    base: &base
      adapter: mysql2
      username: #{db_user}
      password: #{db_password}
      host: localhost

    development:
      database: #{application}_dev
      <<: *base

    test:
      database: #{application}_test
      <<: *base

    production:
      database: #{application}_prod
      <<: *base
    EOF

    run "mkdir -p #{shared_path}/config" 
    put db_config.result, "#{shared_path}/config/database.yml" 
  end

  desc "Makes symlink for database yaml" 
  task :symlink do
    run "ln -nfs #{shared_path}/config/database.yml #{release_path}/config/database.yml" 
  end
  
  desc "Migrates to your newest database structure"
  task :migrate do
    run "cd #{current_release} && RAILS_ENV=production rake db:migrate"
  end
end

namespace :rewrelic do
  desc "Creates newrelic yaml in shared path"
  task :default do
    newrelic_config = ERB.new <<-EOF
    common: &default_settings
      license_key: '#{newrelic_license_key}'
      app_name: Cove
      monitor_mode: true
      developer_mode: false
      log_level: info
      ssl: false
      apdex_t: 0.5
      capture_params: false
      transaction_tracer:
        enabled: true
        transaction_threshold: apdex_f
        record_sql: obfuscated
        stack_trace_threshold: 0.500
      error_collector:
        enabled: true
        capture_source: true    
        ignore_errors: ActionController::RoutingError
    development:
      <<: *default_settings
      monitor_mode: false
      developer_mode: true
    test:
      <<: *default_settings
      monitor_mode: false
    production:
      <<: *default_settings
      monitor_mode: true
    staging:
      <<: *default_settings
      monitor_mode: true
      app_name: Cove (Staging)
    EOF
    
    run "mkdir -p #{shared_path}/config"
    put newrelic_config.result, "#{shared_path}/config/newrelic.yml"
  end

  desc "Makes symlink for newrelic yaml" 
  task :symlink do
    run "ln -nfs #{shared_path}/config/newrelic.yml #{release_path}/config/newrelic.yml" 
  end
end